html {
    background-color: #FFF6FF;
}

@media (min-width: 720px) {
    div.content {
        display: flex;
        flex-direction: row;
    }
}

div.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    font-family: 'Baloo 2', sans-serif;
}

div.content {
    line-height: 1.2;
}

img.rounded {
    border-radius: 50%;
}

img.head {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 25px;
    width: 150px;
    height: 150px;
    aspect-ratio: 1;
}

a.animated {
    color: black;
    margin-right: 10px;
    text-decoration: none;
    display: inline-block;
    position: relative;

    font-size: 1.25rem;

    font-family: 'Baloo 2', sans-serif;
}

a.animated::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    transform-origin: bottom right;
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

a.animated:hover {
    text-decoration: none;
}

a.animated:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    text-decoration: none;
}